/* Tablet & mobile */
@media (max-width: 1023px) {
    .hide-on-tablet-mobile {
        display: none;
    }
}
/* Only tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}
/* Only mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}